.button-cancel-saveEdit{
    box-sizing: border-box;
    color: #EB5757;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    margin-left: 23px;
}
.button-confirm-saveEdit{
    box-sizing: border-box;
    color: #FFFFFF;
    background: #4392BB;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    margin-left: 18px;
}